.example-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.example-sidenav-content {
  margin-top: 64px; /* Altura del navbar */
  padding: 20px;
  flex: 1;
}

.mat-drawer-container {
  flex: 1;
  display: flex;
  margin-top: 64px; /* Igual a la altura del navbar */
}

.mat-drawer {
  width: 250px;
  
}

.mat-drawer-content {
  padding: 20px;
  overflow: auto;
}

.toolbar-button {
  margin-right: 10px; /* Espacio entre botones */
}

.valign-center {
  display: flex;
  align-items: center;
}

.example-spacer {
  flex: 1;
}

.sidebar-title {
  color: #1976d2; /* Color del título */
  margin: 16px 0; /* Espaciado arriba y abajo del título */
  text-align: center; /* Centrar el título */
}

.sidebar-button {
  margin: 10px 0; /* Espaciado entre botones */
}
