<!-- Barra de herramientas principal -->
<mat-toolbar color="primary">
  <!-- Botón del menú que activa el drawer -->
<label class="burger" for="burger" mat-icon-button (click)="drawer.toggle()" matTooltip="menu">
  <input type="checkbox" id="burger" mat-icon-button (click)="drawer.toggle()" matTooltip="menu">
  <span></span>
  <span></span>
  <span></span>
</label>
  <span>
    <!-- Logo de la aplicación -->
    <img src="../../../../../assets/img/imagenInicios.png" alt="logo de muni" width="100%">
  </span>
  <span class="example-spacer"></span>

  <!-- Iterar sobre el menú y mostrar solo el item correspondiente -->
  <ng-container *ngFor="let item of menu; let i = index">
    <button mat-button class="toolbar-button" [routerLink]="item.redirect" *ngIf="i === mostrarSoloItemIndex" matTooltip="inicio">
      {{ item.nombre }}
    </button>
  </ng-container>

  <!-- Botón del menú desplegable de seguridad -->
  <button mat-button class="toolbar-button" [matMenuTriggerFor]="about" matTooltip="registros de datos">
    <div class="valign-center">
      <span>Seguridad</span>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </button>
  <!-- Menú desplegable de seguridad -->
  <mat-menu #about="matMenu">
    <button mat-menu-item *ngFor="let item of menu.slice(1, 5)" [routerLink]="item.redirect">
      {{ item.nombre }}
    </button>
  </mat-menu>


  
  <label class="switch">
    <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
    <span class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"></path></svg></span>   
    <input type="checkbox" class="input">
    <span class="slider"></span>
  </label>  

  <!-- Botón de cierre de sesión -->
  <button class="Btn"  (click)="logout()" routerLink="logout" >
  
    <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
    
    <div class="text">Cerrar Sesion</div>
  </button>

</mat-toolbar>

<!-- Contenedor y drawer -->
<mat-drawer-container class="example-container" autosize>
  <!-- Drawer con los elementos del menú -->
  <mat-drawer #drawer class="mat-drawer" mode="over">
    <header class="sidebar-title">
      <b> Mensajería</b>
    </header>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/bandejaDeEntrada'" matTooltip="Ver bandeja de entrada">
      <mat-icon>inbox</mat-icon>
      Bandeja de Entrada
    </button>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/bandejaDeSalida'" matTooltip="Ver bandeja de salida">
      <mat-icon>upload</mat-icon>
      Bandeja de Salida
    </button>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/borradores'" matTooltip="Ver borradores">
      <mat-icon>drafts</mat-icon>
      Borradores
    </button>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/favoritos'" matTooltip="Ver mensajes favoritos">
      <mat-icon>favorite</mat-icon>
      Favoritos
    </button>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/papelera'" matTooltip="Ver papelera">
      <mat-icon>delete</mat-icon>
      Papelera
    </button>
    <button mat-button class="sidebar-button" [routerLink]="'/dashboard/enviarMensaje'" matTooltip="Enviar un mensaje">
      <mat-icon>send</mat-icon>
      Enviar un Mensaje
    </button>
  </mat-drawer>

  <!-- Contenido principal que se renderiza con el router -->
  <div class="example-sidenav-content">
    <router-outlet></router-outlet> <!-- Aquí se renderiza el contenido del dashboard y tablas -->
  </div>
</mat-drawer-container>
