<!-- tabla -->
<table class="table">
  <thead>
      <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Mail</th>
          <th scope="col">Clave</th>
          <th scope="col">idGrupo</th>
          <th scope="col">Acciones</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let usuario of usuarios"><!-- *ngFor="let producto of coleccionProductos" -->
          <!-- <th scope="row">1</th> -->

          <td>{{usuario.NombreUsuario}}</td>
          <td>{{usuario.Mail}}</td>
          <td>{{usuario.Clave}}</td>
          <td>{{usuario.IdGrupo}}</td>

          <!-- ACCIONES -->
           <td>
              <button id="btn-edit" title="Editar" type="button" class="btn btn-outline-warning">
                  <mat-icon>edit</mat-icon>
              </button>
              <button id="delete" title="Eliminar" type="button" class="btn btn-outline-danger">
                <mat-icon>delete</mat-icon>
              </button>
           </td>

        
          
      </tr>
  </tbody>
</table>


<!--prueba para listar datos-->
<!--   <div>
    <h2>datos de la tabla usuarios</h2>
    <ul>
        <li *ngFor="let usuario of usuarios">
            nombre: {{ usuario.NombreUsuario }}
        </li>
    </ul>
</div>
 -->