<h1 mat-dialog-title>{{ data.mensaje ? 'Editar Mensaje' : 'Nuevo Mensaje' }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Emisor</mat-label>
    <input matInput [(ngModel)]="emisor" placeholder="Escribe el nombre del emisor">
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Receptor</mat-label>
    <input matInput [(ngModel)]="receptor" placeholder="Escribe el nombre del receptor">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mensaje</mat-label>
    <textarea matInput [(ngModel)]="mensaje" placeholder="Escribe el mensaje"></textarea>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="estadoLeido">Leído</mat-checkbox>
  <mat-checkbox [(ngModel)]="estadoFavorito">Favorito</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onSave()" cdkFocusInitial>Guardar</button>
</div>
